* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    display: none;
    position: absolute;
    width: 80px;
    height: 100vh;
    background-color: #1ede1e;
    transition: 0.6s;
    overflow: hidden;
}

.sidebar.active{
    transition: 1s;
    width: 300px;
    display: block;
}

.sidebar ul{
    position: relative;
    top: 180px;
    height: 100vh;
}
.sidebar ul li{
    position: relative;
    list-style: none;
}

.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .text{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.menuToggle{
    position: absolute;
    top: 20px;

}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #9c27b0, #31d5eb);
}

section::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgb(251, 250, 250);
    right: 100px;
    transition: 1s;
}

.active::before {
    background-color: #1f2739;
    box-shadow: 0 0 0 1200px #1ede1e;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo {
    font-size: 1.5em;
    color: #fbf9f9;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

header .logo.active{
    display: none;
}

.header .toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 1000px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .toggle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}

.header .toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}

.header .toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

.header .toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

section .content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

section .content.active{
    display: none;
}

section .content .contentBx {
    position: relative;
    max-width: 600px;
}

section .content .contentBx h4 {
    font-weight: 600;
    color: #1ede1e;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

section .content .contentBx .h2 {
    font-size: 4em;
    line-height: 1em;
    color: #fff;
}

section .content .contentBx .h3 {
    font-weight: 300;
    color: #fff;
    font-size: 3em;
    line-height: 1.5em;
}

section .content .contentBx .p {
    font-size: 1em;
    color: #fff;
    margin: 10px 0 20px;
    font-weight: 300;
}

section .men {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 500px;
    display: block;
    border-radius: 50%;
    background: rgb(251, 250, 250);
    right: 100px;
    transition: 1s;
    overflow: hidden;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.1);
    
}

section .men img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



section .contentBx .links {
    display: flex;
    align-items: center;
    gap: 10px;
}

section .contentBx .links i {
    color: #fff;
    cursor: pointer;
}

section .contentBx .links i:hover{
    color: #c6bebe;
    cursor: pointer;
}